	*{margin: 0px;
		padding: 0px;
		box-sizing: border-box;}
	
	/*.famliy{
		width: 1300px;
		height: 60px;
		background-color: #fff;
		margin: 0 auto;
		}*/
		.clear{clear: both;}
	.chang{
		margin-left:250px;
		}
	/*.chang li{*/

		/*height: 30px;*/
		/*}*/
	.big{
		float: left;
		width: 320px;
		height: 60px;}
	.body{
		float: left;
		width: 320px;
		height: 60px;}
	.small{
		float: left;
		width: 320px;
	height: 60px;}
	.footer{
		float: left;
		width: 320px;
		height: 60px;}
	h3{
		margin-left: 60px;
		margin-top: 10px;
		color: #eee;}
	.container img{
		width: 800px;
		height: 300px;
		float: left;
	}
	.logo img{
		width: 150px;
		height: 70px;

	}
	.liya{
		margin-left: 40px;
		float: left;
	}
	.liya li{
		list-style: none;
		float: left;
		margin-left: 35px;
	}
	.titan{
		margin-left: 60px;
		float: left;
		width: 1500px;
		/*color: #faf9fa;*/
	}
	.titan li{
		/*border:1px solid #555;
		width: 200px;*/
		list-style: none;
		float: left;
		margin-left: 60px;
		margin-top: 20px;


	}
	.jiri{
		margin-left: 100px;
		float: left;
		width: 600px;
	}
	.jiri li{
		margin-left:35px;
		list-style: none;
		float: left;
	}
	.win{
		height: 50px;
		width: 1500px;
		background-color: black;
	}
	li:hover{
		background-color: #b9c1f1;}
	a{
		text-decoration: none;
		display: block;}
	.head li{
		list-style: none;
		float:left;
		width: 110px;
		height: 30px;
		text-align: center;
		line-height: 30px;
	}
	.chang a:hover{
		background-color: ##b9c1f1;
	}
	.head .logo{
		float: left;
		width: 100px;
		height: 50px;
	}
	.head .search{
		float: right;
	}
	.head{
		width: 1200px;
		height: 100px;
		margin: 0 auto;

	}
	/*.container{
		background-color: blue;
		width: 800px;
		height: 300px;}*/
	.foot{
		background-color: #efeeee;
		width: 1500px;
		height: 250px;
	}
	.pass{
		width: 200px;
		height: 304px;
		border:1px solid #555;
		float: left; 

	}
	.ppt{
		background-color: #eee;
		padding-left: 10px;
		padding-top: 15px;
		width: 200px;
		height: 304px;
		border:1px solid #555;
		float: left; 

	}
	.ppt li{
		color: #555;
		height: 30px;
		list-style: none;}
	.wo{
		width: 199px;
		height: 104px;
		border: 1px solid #555;
		}
	.mao h5{
		margin-right: 20px;
		color: #555;
		float: right;
		margin-top: 25px;
		}
	.go h4{
		color: #555;
		margin-right: 46px;
		float: right;
		margin-top: 7px;
		}
	.wo img{
		margin-top: 31px;
		margin-left: 17px;
		height: 40px;
		border-radius: 50%;
		}
		.da{
			width: 140px;
			height: 104px;
			float: right;
		}

		.ta{
			width: 199px;
		    height: 104px;
			border: 1px solid #555;
		}
		video{
			width: 199px;
			height: 150px;
			margin-bottom: 20px;

		}
		.men{
			width: 1500px;
			height: 200px;
			background-color: #fff;
			margin-left: 60px;
		}
		.men img{
			margin-left: 10px;
			border-radius: 10px;

			float: left;
		}
		.men img:hover{
			width: 290px;
			height: 200px;
			background-color: #eee;
			border: 1px solid #eee;

		}
		.tian{
			width: 75px;
			
			height: 304px;
			background-color: #ad9efb;
			float: left;
		}
		.nan{
			width: 74px;
			height: 304px;
			background-color: #ad9efb;
			border: 1px solid #555;
			float: right;
			
		}
		.chen input{
			margin-top: 30px;
			width: 80px;
			height: 30px;
			float: right;	
		}
		.chan input{
			margin-top: 30px;
			width: 200px;
			height: 30px;
			float: right;	

		}
		.happ{
			height: 200px;
			width: 1500px;
			background-color: #e6e2e1;

		}
		
	button{
		width: 33px;
		height: 53px;
		border: none;
		outline:none;
		border-radius: 9%;
		background-color: #eee;
	}
	button:hover{
		cursor: pointer;
		color: blue;
		background-color: #fff;

	}
	button:active{
		background-color: #eee;
	}
	.container{
		position: relative;
	}
	.foot3{
		position: absolute;
		top: 130px;
		left: 275px;
	}.foot1{
		position: absolute;
		top: 130px;
		left: 1042px;}
		.baa{
			position: fixed;
			top: 430px;
			left: 1314px;
		}
		.jie{
			position: relative;
		}