*{
	margin: 0px;
	padding: 0px;
	box-sizing:border-box;
}
.clear:before, .clear:after{
		display: block;
		content: '';
		clear: both;
	}
	.head{
		height: 160px;
		width: 1000px;
		background-color: #fff;
		margin: 0 auto;
		overflow: hidden;	
	}
	.logo{
		float: left;
	    margin-left: 22px;
	    margin-top: 42px;
	}
	.search{
		float: right;
		margin-top: 39px;
		margin-right: 19px;
	}
	.baba{
		margin-top: 100px;
		height: 59px;
		border: 1px solid black;
		background-color: black;
		
		
	}
	.chang {
		margin-left: 15px;
	}
	.chang li{
		list-style: none;
		float: left;
		border-left: 1px solid #555;
		width: 121px;
		height: 59px;
		text-align: center;
		line-height: 59px;
		
	}
	.haha li{
		border-left: none;
	}
	
	.baba a{
		color: #fff;
		text-decoration: none;
		display: block;}
	.container{
		position: relative;
		width: 1000px;
		height: 471px;
		margin: 0 auto;
	}
	.to {
		width: 40px;
		height: 60px;
		background-color: #b5b1b0;
		/*float: left;*/
		top: 198px;
		position: absolute;
	}
	.to img{
		margin-left: 6px;
		margin-top: 11px;
	}
	.next{
		width: 40px;
		height: 60px;
		background-color: #b5b1b0;
		/*float: right;*/
		left: 961px;
		top: 198px;
		position: absolute;
	}
	
	.next img{
		margin-left: 11px;
		margin-top: 11px;
	}
	.lian{
		position: absolute;
		top: 222px;
		left: 399px;

	}
	.wo{
		margin-left: 53px;
		margin-top: -44px;
		color: #fff;
	}
	.rang{
		margin-left: 341px;
		margin-top: -330px;
		color: #0a3b7e;
	}
	.rang p{
		color: #0a3b7e;
		font-size: 40px;
	}
	.content{
		position: relative;
		/*border: 1px solid red;*/
		width: 1000px;
		height: 540px;
		top:100;
		margin: 0 auto;

	}
	.xinwen{
		position: absolute;
		top: 30px;
		left:22px;
	}
	.xinwen p{
		color: black;
	}
	.xinwen li{
		margin-top: 8px;
		list-style: none;
		font-size: 12px;
	}
	a{ 
		color: #7c7c7c;
		text-decoration: none;
	}
	.riqi{
		position: absolute;
		left: 408px;
		top :47px;
	}
	.riqi li{ 
		margin-top: 8px;
		list-style: none;
         font-size: 12px;
	}
	p{
		color: #7c7c7c;
		font-size: 17px;
	}
	.gongsi{
		height: 241px;
		width: 240px;
		background-color: #f1f1f1;
		position: absolute;
		left:500px;
	}
	.jan{
		margin-top: 30px;
		margin-left: 22px;
	}
	.jan p{
		color: black;
	}
	.zo{
		margin-left: 22px;
		margin-top: 20px;
	}
	.zo p{
		font-size: 14px;
	}
	.jian{
		margin-left: 22px;
		margin-top: 20px;
	}
	.jian p{
		font-size: 12px;
	}
	.bo{
		margin-left: 22px;
		margin-top: 11px;
	}
	.bo p{
		font-size: 12px;
	}
	.ren{
		position: absolute;
		top: 10px;
		left: 740px;
	}
	.cai{
		margin-left: 21px;
		margin-top: 20px;
	}
	.cai p{
		color: black;
	}
	.pei{
		margin-left: 21px;
		margin-top: 20px;
	}
	.pei p{
		font-size: 12px;
	}
	.shi{
		margin-left: 21px;
		margin-top:11px;
	}
	.shi p{
		font-size: 11px;
	}
	.more{
		margin-left: 21px;
		margin-top: 50px;
	}
	.hua{
		margin-left: 174px;
		margin-top: -58px;
	}
	.lun{
		position: absolute;
		top: 264px;
		left: 22px;
	}
	.lun p{
		color: black;

	}
	.wu{
		margin-top: 18px;
	}
	.ru{
		margin-top: 19px;
	}
	.ru li{
		list-style: none;
		font-size: 12px;
		margin-top: 4px;
	}

	.san{
		position: absolute;
		top:299px;
		left: 270px;
	}
	.qian{
		position: absolute;
		top:457px;
		left: 270px;
	}
	.qian li{
		list-style: none;
		font-size: 12px;
		margin-top: 4px;
	}
	.liu{
		position: absolute;
		top:299px;
		left: 520px;
	}
	.ce{
		position: absolute;
		top:457px;
		left: 520px;
	}
	.ce li{
		list-style: none;
		font-size: 12px;
		margin-top: 4px;
	}
	/*.shi{
		position: absolute;
		top:299px;
		left: 770px;
	}*/
	.si{
		position: absolute;
		top:299px;
		left: 770px;
	}
	.tiao{
		position: absolute;
		top:457px;
		left: 770px;
	}
	.tiao li{
		list-style: none;
		font-size: 12px;
		margin-top: 4px;
	}
	.duan{
		width: 1000px;
		height: 250px;
		background-color: #e5e5e5;
		margin: 0 auto;
		position: relative;	
	}
	.ke{
		position: absolute;
		top: 29px;
		left: 50px;	
	}
	.ke p{
		font-size: 15px;
	}

	.kuang{
		position: absolute;
		top: 59px;
		left: 20px;
		width: 454px;
		border-top: 1px solid #c1c1c1;

	}
	.chu a{
		font-size: 12px;
		color: #737373;
	}
	.chu li{
		list-style: none;
		margin-top: 14px;
	}
	.chu{
		margin-top: 8px;

	}
	.hou{
		margin-top:-177px;
		margin-left: 168px;
	}
	.xiang{
		margin-top: -141px;
		margin-left: 342px;
	}
	.jie p{
		position: absolute;
		font-size: 15px;
		top: 30px;
		left: 526px;
	}
	.di{
		position: absolute;
		top: 59px;
		left: 520px;
		width: 147px;
		border-top: 1px solid #c1c1c1;
	}
	.di li{
		margin-top: 13px;
		list-style: none;
	}
	.di a{
		font-size: 12px;
		color: #737373;
	}
	.xue{
		position: absolute;
		top: 58px;
		left: 720px;
		width: 260px;
		border-bottom: 1px solid #c1c1c1;

	}
	.xue p{
		position: absolute;
		font-size: 15px;
		top: -25px;}
	.ditu{
		position: absolute;
		top: 71px;
		left: 750px;
	}
	.zui{
		position: relative;
		height: 83px;
		width: 1000px;
		margin: 0 auto;
		/*border: 1px solid red;*/
	}
	.wan{
		position: absolute;
		top: 26px;
		left: 23px;
	}