*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
}
.clear{clear: both;}
.head{
	width: 100%;
}
.tou{
	background-color: #efefef;
}
.box{ 
	width: 1050px;
	height: 38px;
	margin: 0 auto;
}

.box img{
	float: left;
	margin-top: 12px;
}
.p{
	display: block;	
}
.box a{
	text-decoration: none;
	color: black;
	font-size: 14px;
	font-family: 微软雅黑;
	float: right;
	margin-top: 12px;
}
.biao{
	width: 1070px;
	height: 94px;
	margin: 0 auto;
}
.biao img{
	margin-top: 30px;
	float: left;
}
.biao a{
	font-size: 14px;
	font-family: 微软雅黑;
	text-decoration: none;
	color: black;

}
.biao li{list-style: none;
         float:right;
         margin-right: 40px;
         margin-top: 40px;  
           }
.banner{
	width: 100%;
}
.shang{
	height: 938px;
	
}
 .back{
 	width: 100%;
 	background-image:url(images/back.jpg);
	background-repeat: repeat-x;
	overflow: hidden;
}
.back img{
	display: block;
	margin: 0 auto;
	margin-top:70px;
}
.content{
	margin: 0 auto;
	width: 870px;
	height: 220px;
}
.content ul{
	margin-top: 30px;
}
.content li{
	list-style: none;
	float: left;
	border: 1px solid #ebebeb;
	width:220px;
	height: 220px;
	margin-left: 70px;

}
.jie1{
	margin-top: 15px;
	margin-left: 18px;
}
.danshi{
	margin-top: 28px;
	margin-left: 82px;
}
.guan{
	height: 487px;
	background-color: #e6e8e9;
}
.guan p{
	text-align: center;
}
.yu{

	list-style:none;
	position: relative;
	left: 800px;
	top: 30px;
	font-size: 18px;
	font-family: 微软雅黑;
    
}
.sto {
	position: relative;
	top: 35px;
	color: #b6b7b7;
	font-size: 12px;
	text-align:center;
}
.zi{
	height: 69px;
	width: 904px;
	margin: 0 auto;
	color: #666666;
	font-size: 14px;
	margin-bottom: 68px;
	margin-top: 62px;
}
.lan{
	width: 1050px;
	height:174px;
	border: 1px solid #fff;
	overflow: hidden;
	margin: 0 auto;

	}
.lan .dong{
	width: 2900px;
	}
.lan .dong li{
	margin-right: 10px;
	width: 280px;
	height: 169px;
	list-style: none;
	float: left;	
	}
.lan .dong li img{
	margin-top: 0px;
	width: 278px;
	height: 167px;
}
.lan .dong{
		animation: turnaround 20s linear 1s infinite;
		}
.dong:hover {
		animation-play-state: paused;
		}
@keyframes turnaround{
		form: {
			transform: translateX(0px);
		}
		to{
			transform: translateX(-700px);

		}
		}
.xin{
	height: 178px;
}
.wo{
	margin-top: 95px;
	font-size: 18px;
	font-family: 微软雅黑;
    text-align:center;
}
.de{
	position: relative;
	top: 6px;
	color: #b6b7b7;
	font-size: 12px;
	text-align:center;
}
.shi{
	height: 472px;
	background-color: #a4d1ee;
}
.quan{
	position: relative;
	top: 56px;
	font-size: 14px;
	width: 1050px;
	height: 373px;
	margin: 0 auto;

}
.tian a{
	margin-right: 30px;
	float: left;
	text-decoration: none;
	color: #fff;

}
.qin hr{
	border: 0.5px dashed #d9dfe1;
}
.tian li{
	list-style: none;
}
.qin li{
	width: 666px;
	margin-top:20px;
	list-style: none;

}
.qin a{
	text-decoration: none;
	color: black;
}
.qin img{
	margin-right: 29px;
}
.qin{
	position: absolute;
	width: 200px;
	height: 304px;
	top: 31px
}
.riqi li{
	list-style: none;
	margin-top: 42px;

}
.riqi{
	position: absolute;
	top: 6px;
	right: 403px;
}
.bai{
	position: absolute;
	top:62px;
	right: 0px;
}
.cheng img{
	position: absolute;
	top:300px;
	right: 178px;
}
.zheng img{
	position: absolute;
	top:300px;
	right:108px;
}
.ditu{
	height: 645px;
}
.guanxi{
	height: 176px;
}
.guanxi li{
	list-style: none;
}

.da{
	position: absolute;
	margin-top: 110px;
	margin-left: 800px;
	font-size: 18px;
	font-family: 微软雅黑;

}
.ming img{
	margin-top: 144px;
	margin-left: 710px;
	
}
.kuang{
	position: relative;
	width: 1100px;
	height: 424px;
	margin: 0 auto;
}
.tobiao{
	margin-left: 26px;
}
.kuang li{
	margin-top: 12px;
	list-style: none;
}
.kuang ul{
	position: absolute;
	top: -10px;
	left: 205px;
}
.ditu1{
	position: absolute;
	top: 234px;
	left: -500px;
}
textarea{
	width: 630px;
	height: 34px;
}
.input{
	position: absolute;
	left: 296px;
	top: 0px;
}
.neirong textarea{
	height: 120px;
}
button{
	width: 54px;
	height: 30px;
	background-color: #3c9cd3;
	position: absolute;
	bottom: -50px;
}
.input a{
	text-decoration: none;
	color: #fff;
}
.footer{
width: 100%;
height: 94px;
background-color: #3d9cd3;
position: relative;

}
.footer img{
	position: absolute;
	top: 21px;
	left:771px;
}
.zhong{
	position: absolute;
	top: 57px;
	left: 626px;
}
.footer li{
	width: 118px;
	float: left;
	color: #fff;
}
.footer a{
	text-decoration: none;
	color: #fff;
}
.wang li{
	list-style: none;
}

.foot{
	width: 100%;
	height: 35px;
	background-color: #000;
}
.zui{
	color: #fff;
	width: 531px;
	height: 13px;
	margin: 0 auto;
	position: relative;
	top: 7px;
}
